# .gitignore for UFRF Framework Repository

# macOS specific files
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# Logs and databases
*.log
*.sql
*.sqlite
*.db

# Archives
*.zip
*.tar.gz
*.tgz
*.bz2
*.xz

# Checkpoints and large data files
*.pkl
*.npy
*.npz
zeta_zeros.txt
**/data/*.dat

# Virtual environments
venv/
ENV/
env/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
